// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
    width: 100%;
    border-bottom: 1.5px dashed @silver;
    h1 {
      font-size: 4.25rem;
    }
    a {
      margin: 0 12.5px;
      text-decoration: none;
      font-size: 1.7rem;
      color: black;
      &:hover {
          color: @silver;
          // transform: scale(1.25);
      }
    }
    // div {
    //   border: 1px dashed blue;
    // }
    // // border: 1px dashed red;
    @media @mobile {
      flex-flow: column nowrap;
      div {
        display: flex;
        flex-flow: row nowrap;
        
        margin-top: 10px;
        position: relative;
        top: 15px;
      }

    }
}